:host {
  display: block;
}

.status-info,
.status-error {
  margin-bottom: 20px;
  font-size: 16px;
}

.status-error {
  color: #a40f0f;
}

.post-details-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 100px;
}

.post-details-card h1 {
  font-size: 24px;
  line-height: 1.2;
}

.post-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 40px;
  font-size: 20px;
}

.post-content {
  font-size: 20px;
}

hr {
  margin: 30px 0 30px 100px;
  border: none;
  border-top: 1px solid #000;
}

.comments-section {
  padding-left: 100px;
}

.comments-section h2 {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 639px) {
  app-btn-return {
    position: absolute;
    top: -5px;
    left: -10px;
  }

  .post-details-card {
    gap: 30px;
    margin-top: 100px;
    padding-left: 0;
  }

  .post-meta {
    gap: 30px;
  }

  hr {
    margin-left: 0;
  }

  .comments-section {
    padding-left: 0;
  }
}

@media (max-width: 479px) {
  app-btn-return {
    top: 90px;
    left: 0;
  }
}
